nav {
    background-color: rgb(0, 0, 255);
    text-align: left;
    padding: 20px 40px 20px 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 900;
    margin: 20px 40px 0 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    padding: 20px 40px 20px 40px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
}

#map {
    margin:auto;
    width: 100%;
    height: 600px;
}

.history {
    font-size: 10px;
    padding-top: 10px;
}

.loader {
    position: absolute;
    z-index: 10000;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}